In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
data_path = '/opt/ml/input/data/train'
df = pd.read_csv(os.path.join(data_path, 'train_ratings.csv')) # 전체 학습 데이터

In [3]:
df

           user   item        time
0            11   4643  1230782529
1            11    170  1230782534
2            11    531  1230782539
3            11    616  1230782542
4            11   2140  1230782563
...         ...    ...         ...
5154466  138493  44022  1260209449
5154467  138493   4958  1260209482
5154468  138493  68319  1260209720
5154469  138493  40819  1260209726
5154470  138493  27311  1260209807

[5154471 rows x 3 columns]

In [4]:
df.groupby('user')['item'].count()

user
11        376
14        180
18         77
25         91
31        154
         ...
138473     63
138475    124
138486    137
138492     68
138493    314
Name: item, Length: 31360, dtype: int64

In [5]:
print(f"기존 df의 user 최대 값: {df['user'].max()}")
print(f"기존 df의 item 최대 값: {df['item'].max()}")
print(f"user의 고유 수: {df['user'].nunique()}")
print(f"item의 고유 수: {df['item'].nunique()}")

#나중에 메모리 문제가 발생하지 않기 위해 범위를 줄임.

기존 df의 user 최대 값: 138493
기존 df의 item 최대 값: 119145
user의 고유 수: 31360
item의 고유 수: 6807

In [6]:
from sklearn.preprocessing import LabelEncoder

user_LE = LabelEncoder()
item_LE = LabelEncoder()

df['user'] = user_LE.fit_transform(list(df['user'].values))
df['item'] = item_LE.fit_transform(list(df['item'].values))

df

          user  item        time
0            0  2505  1230782529
1            0   109  1230782534
2            0   319  1230782539
3            0   368  1230782542
4            0  1183  1230782563
...        ...   ...         ...
5154466  31359  4882  1260209449
5154467  31359  2652  1260209482
5154468  31359  5768  1260209720
5154469  31359  4791  1260209726
5154470  31359  4363  1260209807

[5154471 rows x 3 columns]

In [37]:
f = open('/opt/ml/input/code/ultragcn/data/Movielens_boostcamp/ultragcn_train_data.txt', 'w')
tf = open('/opt/ml/input/code/ultragcn/data/Movielens_boostcamp/ultragcn_test_data.txt', 'w')
for i,v in df.groupby('user')['item']:
    f.write(str(i))
    f.write(' ')
    f.write(' '.join(str(e) for e in v.values[:(len(v.values)//10)*9]))
    f.write('\n')
    tf.write(str(i))
    tf.write(' ')
    tf.write(' '.join(str(e) for e in v.values[(len(v.values)//10)*9:]))
    tf.write('\n')
f.close()
tf.close()

In [1]:
31490/1024

30.751953125

In [49]:
f = open('/opt/ml/input/code/ultragcn/result(epoch:67).txt','r')
answer_list = []

for i in f:
    a = i.split('tensor')
    for j in a:
        if(j != ''):
            answer_list.append(j)

for i in range(len(answer_list)):
    answer_list[i] = eval(answer_list[i].replace(' ', '').replace('(', '').replace(')', ''))



answer_list = np.array(answer_list).reshape(-1, ) #1차원으로 쭉 피기 (squeeze 사용해도 됨)
user_list = [i // 10 for i in range(len(answer_list))]

In [58]:
end_df = pd.DataFrame({'user':user_list,
                       'item':answer_list}) 
end_df['user'] = user_LE.inverse_transform(end_df['user'])
end_df['item'] = item_LE.inverse_transform(end_df['item'])

end_df.to_csv('submit_ultragcn.csv',index=False)